<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154118060101-7bit6akvj2tp9s6mgi79vtk7flh77ro8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154118060101-7bit6akvj2tp9s6mgi79vtk7flh77ro8</string>
	<key>API_KEY</key>
	<string>AIzaSyCWx6tPXRRJZT1i-POivUSjAm_GGpUekbk</string>
	<key>GCM_SENDER_ID</key>
	<string>154118060101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ignasiperez.Prototype-Firebase-Auth-PM</string>
	<key>PROJECT_ID</key>
	<string>prototypeauthenticationpm</string>
	<key>STORAGE_BUCKET</key>
	<string>prototypeauthenticationpm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154118060101:ios:2c45eb14763dd367808b2c</string>
</dict>
</plist>